#planSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  p {
    margin: 0;
  }
}

.plan_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10;

  .plan_block:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

.plan_block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.plan_block img {
  max-width: 50%;
}

.plan_block__description {
  position: relative;
  color: var(--secondary-text-color);
  transform: translateY(20px);
  text-align: center;
}

.plan_block__description .time {
  text-align: center;
  font-size: 80px;
  font-family: GreatVibes-Regular;
  line-height: 25px;
}

.description_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan_block__description .description {
  color: #da131e;
  font-size: 60px;
  font-family: Adine_Kirnberg_Regular;
  line-height: 45px;
}

@media screen and (max-width: 776px) {
  .plan_block__description .time {
    font-size: 60px;
  }

  .plan_block__description .description {
    font-size: 40px;
    line-height: 25px;
  }
}
