#presentsSection {
  p {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
  }

  p:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  #presentsSection {
    h2 {
        margin-bottom: 30px;
    }

    p {
      font-size: 45px;
      line-height: 35px;
    }

    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
