:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg-color: #ebe9e8;
  --main-text-color: white;
  --secondary-text-color: black;
}

@font-face {
  font-family: "WhisperingSignature";
  src: local("WhisperingSignature"),
    url(./fonts/WhisperingSignature.ttf) format("truetype");
}

@font-face {
  font-family: "Adine_Kirnberg_Regular";
  src: url(./fonts/Adine_Kirnberg_Regular.ttf) format("truetype");
}

@font-face {
  font-family: "GreatVibes-Regular";
  src: url(./fonts/GreatVibes-Regular.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
  background: var(--main-bg-color);
  height: 100%;
}

#root {
  height: 100%;
}

main {
  height: calc(100% - 90px);
}

.full {
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-family: GreatVibes-Regular;
  font-size: 80px;
  line-height: 80px;
  color: #da131e;
  text-align: center;
}

section {
  padding: 30px;
  box-sizing: border-box;
}

p {
  margin: 0;
  color: var(--secondary-text-color);
  font-family: Adine_Kirnberg_Regular;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 550px) {
  section {
    padding: 40px 20px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
